<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="olab.ringring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="olab.ringring.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="olab.ringring.permission.C2D_MESSAGE" />

    <application
        android:name=".init.application.RingRingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ringring_icon_image"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".join.JoinActivity"
            android:theme="@style/JoinActivityTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".join.signup.lovercertification.LoverConnectingActivity"
            android:label="@string/title_activity_lover_connecting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="olab.ringring.partnerauthorization.PartnerConnectingActivity" />
            </intent-filter>
            -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".join.signup.lovercertification.SendDownloadLinkActivity"
            android:label="@string/title_activity_send_download"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.mymenu.dday.DDaySettingActivity"
            android:label="@string/title_activity_set_d_day"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".main.mymenu.myaccount.MyAccountActivity"
            android:label="@string/title_activity_my_account"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".main.mymenu.missionhistory.MissionHistoryActivity"
            android:label="@string/title_activity_mission_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".main.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleActionBar">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".main.mymenu.MyMenuActivity"
            android:label="@string/title_activity_my_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".main.ringdesign.RingDesignActivity"
            android:label="@string/title_activity_ring_design"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="olab.ringring.init.glide.RingRingGlideModule"
            android:value="GlideModule" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="olab.ringring" />
            </intent-filter>
        </receiver>

        <service
            android:name=".main.home.chat.moudle.gcm.RingRingGcmListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".main.home.chat.moudle.gcm.RingRingInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".main.home.chat.moudle.gcm.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".main.mymenu.profile.ProfileImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".notification.RingNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:exported="true"
            >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>